body{
  margin: 0;
}

/* Apply styling to the header */
header {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  text-align: center;
  padding: 10px;
  border: none;
}

/* Center the header text vertically */
header h1 {
  margin: 0;
  line-height: 50px; /* Adjust as needed */
}

#selection-section {
  background-color: #00ff00;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the select dropdowns */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
/* Center the dropdowns and their placeholders */
select {
  width: 70%; /* Adjust the width as needed */
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* Make the dropdown options less wide */
select option {
  width: 100%;
  box-sizing: border-box;
}