body{
  margin: 0;
}


header {
  background-image: url(bg.jpeg); /* Replace with the actual path to your GIF image */
  background-size: cover;
  background-position-y: -90px;
  background-color: rgba(0, 0, 0, 100); /* Adjust the opacity as needed */
  color: #fff;
  text-align: center;
  padding: 100px;
  border: none;
}


#selection-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select:focus {
  outline: none;
}

/* Style the select dropdown for seasons */
.season-select select {
  width: 80%; /* Adjust the width as needed */
  padding: 10px;
  border-color: #fff;
  margin-bottom: 20px;
  border-radius: 17px;
  text-align: center;
  background-color:#00000055;
  color: #fff;
}


/* Make the dropdown options less wide */
select option {
  width: 100%;
  box-sizing: border-box;
}
#player-sections {
  display: flex;
  justify-content: space-between;
}

#player1-section,
#player2-section {
  width: 45%; /* Adjust as needed */
}

